<section class="bg-primary" id="business-accounting">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Business Accounting & Bookkeeping</h2>
              <hr class="light">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-book wow bounceIn text-white"></i>
                  <h3>Business Accounting</h3>
                  <p class="text-white">Turn to us for dependable accounting solutions and practical advice. We’ll know how to serve you because our CPAs and accountants are experienced in working with a variety of small, midsized, and large businesses.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-briefcase wow bounceIn text-white" data-wow-delay=".1s"></i>
                  <h3>Bookkeeping</h3>
                  <p class="text-white">As a small business owner you have more important things to do than to keep your own books. We take care of your books for you, so you can get back to the job of running your business and generating profits.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-calculator wow bounceIn text-white" data-wow-delay=".2s"></i>
                  <h3>Agreed Upon Procedures</h3>
                  <p class="text-white">Agreed Upon Procedures (AUP) are conducted by our audit professionals in accordance with attestation standards established by the American Institute of Certified Public Accountants.</p>
              </div>
          </div>
      </div>
  </div>
</section>
