<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Serving individuals and small/medium businesses</h2>
                <hr class="light">
                <p class="text-faded">It is essential when you are making decisions about your finances that you receive the best advice.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Let's Talk!</a>
            </div>
        </div>
    </div>
</section>
