<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Request Your FREE Consultation</p>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-phone wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Telephone</h3>
                        <p class="text-muted">872.903.3221</p>                    
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-envelope wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Email</h3>
                        <p class="text-muted">info@theumglobal.com</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
