<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tax Planning, Preparation and Business Accounting</h1>
            <hr>
            <p>We help our clients by providing tax preparation services and 
                prepare individual, business, and organizational federal and 
                state returns.
            </p>
            <p>
                We take care of your books so you don't have to. Each month or quarter 
                we'll enter the daily income and expense transactions from your checking 
                and credit card accounts.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
