<section class="bg-primary" id="irs-problems">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">IRS Problems and Resolutions</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-book wow bounceIn text-primary"></i>
                  <h3>Tax Planning & Preparation</h3>
                  <p class="text-muted">Our firm specializes in all areas of tax return preparation, tax planning, IRS and state tax agency audit representation, IRS problem resolution and controversy issues, unfiled returns, and multi-state tax issues.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-briefcase wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Business Accounting & Bookkeeping</h3>
                  <p class="text-muted">As a small business owner you have more important things to do than to keep your own books. We take care of your books for you, so you can get back to the job of running your business and generating profits.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-calculator wow bounceIn text-primary" data-wow-delay=".2s"></i>
                  <h3>Quickbooks Services</h3>
                  <p class="text-muted">Should you decide that you want to perform your own bookkeeping and maintain your own financial data utilizing QuickBooks, we can assist you with QuickBooks setup, Quickbooks training and Quickbooks tune-up.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-compass wow bounceIn text-primary" data-wow-delay=".3s"></i>
                  <h3>Tax Problems and Resolutions</h3>
                  <p class="text-muted">Our professinals have years of experiences with tax resolutions. We're here to help you resolve your tax problems and put an end to the tax issues.</p>
              </div>
          </div>
      </div>
  </div>
</section>
