<section id="quickbook">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Quickbooks</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-desktop wow bounceIn text-primary"></i>
                  <h3>QuickBooks Training</h3>
                  <p class="text-muted">We can train you or your employees to properly operate QuickBooks specifically for your business. We focus on the specific and unique issues facing your business.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>QuickBooks Tune-Up</h3>
                  <p class="text-muted">Overhaul your accounting system with a QuickBooks Tune-up. Whether you need to prepare for tax time, a financial review or you just need to clean up some problem areas, you'll be prepared with a QuickBooks Tune-up.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-list-alt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                  <h3>Ongoing Services</h3>
                  <p class="text-muted">Follow up training to ensure the client is "on the right track." Monthly, quarterly, or annual review of client Quickooks data to assist in tax preparation and management reports.</p>
              </div>
          </div>
      </div>
  </div>
</section>
